#include <windows.h>
#include "resource.h"

IDI_APP_ICON ICON "assets\\notepad-colon.ico"
IDB_TOOLBAR BITMAP "assets\\toolbar.bmp"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,0,0
 PRODUCTVERSION 1,2,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "mwfl"
            VALUE "FileDescription", "Notepad::"
            VALUE "FileVersion", "1.2.0"
            VALUE "InternalName", "notepad-colon"
            VALUE "LegalCopyright", "Copyright (c) 2026 mwfl contributors"
            VALUE "OriginalFilename", "notepad-colon.exe"
            VALUE "ProductName", "Notepad::"
            VALUE "ProductVersion", "1.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
